.ck-pagination {
    padding-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -khtml-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%)
}

.ck-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.ck-center {
    margin-left: auto;
    margin-right: auto;
}

.ck-card {
    border: 1px solid #ccc;
    position: relative;
    display: block;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 8px 16px 8px 8px;
    height: 284px;
    width: 900px;
    z-index: 1
}

.ck-news-image {
    position: absolute;
    height: 268px;
    width: 320px;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 1px
}

.ck-news-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -khtml-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%)
}

.ck-card-title {
    position: absolute;
    padding-right: 20px;
    color: #44444d;
    margin-top: 5px;
    font-size: 22px;
    line-height: 27px
}

.ck-card-content {
    position: absolute;
    padding-right: 20px;
    color: #44444d;
    top: 95px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px
}

.ck-pull-right {
    width: 528px;
    right: 24px
}

.ck-thumbnail {
    max-width: 115%;
    height: auto;
}

.ck-share {
    right: 10px;
    bottom: 5px;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .ck-card {
        width:96%;
        margin-left: 2%;
        margin-right: 2%;
        height: 650px;
    }

    .ck-news-image {
        width: 96%;
        height: 300px;
        margin-left: 0;
        margin-top: 0
    }

    .ck-pull-right {
        left: 10px;
        padding: 3px;
        width: 480px !important;
        margin-top: 410px !important;
        right: 0 !important
    }

    .ck-card-title {
        width: 96%;
        margin-left: 0;
        padding-right: 0;
        font-size: 18px;
        line-height: 24px
    }

    .ck-card-content {
        padding-right: 0;
        font-size: 14px;
        top: 60px
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .ck-card {
        width: 500px;
        height: 700px
    }

    .ck-news-image {
        position: absolute;
        height: 400px;
        width: 480px;
        border-radius: 4px;
        overflow: hidden;
        margin-left: 1px;
        margin-top: 0
    }

    .ck-pull-right {
        width: 480px !important;
        margin-top: 410px !important;
        right: 0 !important;
        left: 10px;
        padding: 3px
    }
}

@media only screen and (min-width: 900px) and (max-width: 1070px) {
    .ck-card {
        width:96%;
        margin-left: 2%;
        margin-right: 2%;
        height: 250px
    }

    .ck-card-content {
        top: 70px
    }

    .ck-news-image {
        position: absolute;
        height: 220px;
        width: 260px;
        border-radius: 4px;
        overflow: hidden;
        margin-left: 1px;
        margin-top: 5px
    }
}